# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Elixir CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    name: Build and test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: config_api_eventstore
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4
    - name: Set up Elixir
      uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
      with:
        elixir-version: '1.18.4' # [Required] Define the Elixir version
        otp-version: '28.0.2'      # [Required] Define the Erlang/OTP version
    - name: Restore dependencies cache
      uses: actions/cache@v3
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-mix-
    - name: Install dependencies
      run: mix deps.get
    - name: Initialize EventStore
      run: |
        mix event_store.create
        mix event_store.init
      env:
        MIX_ENV: test
        EVENTSTORE_HOST: localhost
        EVENTSTORE_PORT: 5432
        EVENTSTORE_DATABASE: config_api_eventstore
        EVENTSTORE_USERNAME: postgres
        EVENTSTORE_PASSWORD: postgres
    - name: Run tests
      run: mix test
      env:
        MIX_ENV: test
        EVENTSTORE_HOST: localhost
        EVENTSTORE_PORT: 5432
        EVENTSTORE_DATABASE: config_api_eventstore
        EVENTSTORE_USERNAME: postgres
        EVENTSTORE_PASSWORD: postgres
